@media (max-width: 1280px) {

  .page-header .wrapper {
    width: 100%;
  }

  .main-navigation {
    position: relative;
  }

  .main-header-logo {
    width: 200px;
  }

  .logo {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .site-navigation {
    position: absolute;
    left: 50%;
    top: 200px;
    //bottom: -70%;
    width: 760px;
    margin-left: -380px;
  }

  .contacts-list li {
    width: 200px;
  }

  .contacts-list .phone {
    font-size: 1.4rem;
  }

  .slogan {
    width: 95%;
  }

  .features {
    width: 768px;
  }

  .features-list li {
    width: 340px;
    margin-bottom: 20px;
  }

  .about .wrapper {
    width: 768px;
  }

  .about .photo {
    height: 815px;
    align-self: flex-start;
  }

  .about .about-column {
    position: absolute;
    bottom: 10px;
    right: -5%;

    width: 470px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .prices-and-services {
    width: 100%;
  }

  .prices-services-columns {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .steps {
    width: 768px;
  }

  .steps-list {
    width: 100%;
  }

  .steps-list .block img,
  .steps-list .block p  {
    width: 40%;
  }

  .tools-wrapper {
    width: 100%;
  }

  .tools-item {
    width: 30%;
  }

  .page-footer .wrapper {
    width: 100%;
  }

  .footer-site-navigation {
    width: auto;
  }
}

@media (max-width: 768px) {
  .page-header .nav-button {
    display: block;
  }

  .site-navigation {
    position: absolute;
    top: 0;
    left: 1px;

    display: none;
    flex-direction: column;

    width: 99%;
    margin-left: 0;
    padding-left: 30px;
    line-height: 4rem;
    background-color: rgba(30, 30, 30, 0.9);
    z-index: 1;
  }

  .site-navigation:hover,
  .site-navigation:focus {
    background-color: rgba(30, 30, 30, 0.9);
  }

  .site-navigation a {
    display: inline-block;
  }

  .contacts-list li {
    width: 250px;
  }

  .features {
    width: 100%;
  }

  .features-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5px;
  }

  .features-list li {
    width: 45%;
  }

  .about .wrapper {
    width: 576px;
    flex-direction: column-reverse;
  }

  .about .photo {
    width: 300px;
    height: 637px;
  }

  .about .about-column {
    position: static;
    width: 576px;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1rem;
  }

  .prices-table,
  .services-table {
    width: 576px;
  }

  .prices-table td,
  .services-table td {
    padding: 10px 5px;
    font-size: 1rem;
    line-height: 1rem;
  }

  .steps {
    width: 576px;
  }

  .steps-list .block,
  .steps-list .step-item:nth-child(2n) .block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .steps-list .block img {
    width: 90%;
    margin: 0 auto;
  }

  .steps-list .block p {
    width: 90%;
    margin: 0 auto;
  }

  .steps-list .block span {
    z-index: +5;
  }

  .steps-list .block span::after {
    display: none;
  }

  .steps-list .block span::before {
    z-index: 0;
  }

  .steps__phone {
    display: flex;
    flex-direction: column;
  }

  .tools-list {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .page-footer {
    //padding-bottom: 0;
    margin-bottom: -50px;
  }

  .footer-site-navigation {
    display: none;
  }

  .page-footer .wrapper {
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .page-header {
    padding-bottom: 10px;
  }

  .main-navigation {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 30px;
  }

  .main-header-logo {
    margin-bottom: 150px;
  }

  .main-header-logo::before {
    display: none;
  }

  .contacts-list {
    margin: 0;
    text-align: center;
  }

  .contacts-list li {
    width: 100%;
  }

  .contacts-list span {
    font-size: 1rem;
    line-height: 1rem;
  }

  .contacts-list .phone {
    font-size: 2rem;
  }

  .contacts-list .feedback a {
    width: auto;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration: underline;
  }

  .slogan {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .features-list li {
    width: 100%;
    margin-bottom: 20px;
  }

  .about .wrapper {
    width: 100%;
  }

  .about .about-column {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .about-column form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-column input {
    margin-bottom: 5px;
  }

  .prices-table,
  .services-table {
    width: 100%;
  }

  .prices-table td,
  .services-table td {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .steps {
    width: 100%;
  }

  .tools-item {
    width: 170px;
  }

  .tools-item img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .photo {
    width: 100%;
  }

  .contacts {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .contacts a {
    display: block;
  }

  .contacts form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts form button {
    margin-top: 5px;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }

  .modal {
    width: 350px;
    margin-left: -175px;
    padding: 30px 10px;
    font-size: 1rem;
  }
}


